@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <style type="text/css">
        .horizontalStackPanel {
            margin: 0;
        }

            .horizontalStackPanel li {
                margin: 5px;
            }
    </style>
</head>
<body>
    <div align="center">
        <img width="200" height="100" />
    </div>
    <div align="center">
        <ul class="horizontalStackPanel">
            <li>
                <label>Input:</label>
            </li>
            <li>
                <text></text>
            </li>
        </ul>
    </div>
    <div align="center">
        <button>
            Check
        </button>
    </div>
</body>
</html>
