@model Captcha.Models.CaptchaText

@{
    ViewBag.Title = "Index";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Captcha</title>
</head>

<body>
    @using (Html.BeginForm("Validate", "Captcha"))
    {
        <p align="center">
            <img src="data:image/png;base64,@Html.ViewBag.Image" alt="captcha"/>
        </p>
        <p align="center">
            input: @Html.TextBoxFor(x => x.Input)
        </p>
        <p align="center">
            <input type="submit" name="Validate" value="Check" />
        </p>
    }
</body>


