@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Validate</title>
</head>
<body>
<div>
    <p align="center">
        @ViewBag.Result
    </p>
</div>
</body>
</html>
